<div class="main_object">
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<h2>みんなの推しプロフィール一覧</h2>
<p class="index">※画像をクリックするとプロフィールが閲覧できます。</p>
  <div class="search-form">
    <h3 class="kensaku">検索</h3>
      <%= search_form_for @search, url: search_profiles_path do |f| %>
        <%= f.text_field :user_name_or_oshi_name_cont, class: "search-form", placeholder: "作成者or推しの名前" %>
        <%= f.submit "検索", class: "red-btn" %>
      <% end %>
  </div>
  <br>
<table class="profile-index">
  <thead>
    <tr>
      <th>画像</th>
      <th><%= sort_link(@search, :user_name, "作成者") %></th>
      <th><%= sort_link(@search, :oshi_name, "推し") %></th>
      <th><%= sort_link(@search, :updated_at, "更新日") %></th>
    </tr>
  </thead>
  <tbody>
    <% @search_profiles.each do |profile| %>
      <tr class="items">
        <% if profile.image.attached? %>  
          <td>
          <%= link_to profile_path(profile) do %>
          <%= image_tag profile.image.variant(resize_to_fill: [80, 80]) , :alt => "プロフィール画像" %></td>
          <% end %>
        <% else %>
          <td>
          <%= link_to profile_path(profile) do %>
          <%= image_tag("default_image.png", :size => "80x80", :alt => "プロフィール画像") %></td>
          <% end %>
        <% end %>
        <td><%= profile.user_name %></td>
        <td><%= profile.oshi_name %></td>
        <td><%= profile.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="mt-1"><%= link_to "プロフィール作成",:new_profile ,class:"index_menu"%></p>
<p class="mt-1"><%= link_to "自分の投稿一覧", :profiles_myprofile ,class:"index_menu"%></p>
</div>